@page
@model DevChatter.DevStreams.Web.Pages.Channels.Schedule.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScheduledStream</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduledStream.DayOfWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduledStream.DayOfWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduledStream.LocalStartTime)
        </dt>
        <dd>
            @Model.ScheduledStream.LocalStartTime
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduledStream.LocalEndTime)
        </dt>
        <dd>
            @Model.ScheduledStream.LocalEndTime
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduledStream.TimeZoneName)
        </dt>
        <dd>
            @Model.ScheduledStream.TimeZoneName
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ScheduledStream.Id">Edit</a> |
    <a asp-page="./Index" asp-route-channelId="@Model.ScheduledStream.ChannelId">Back to List</a>
</div>
