@page "{channelId:int}"
@using NodaTime.Text
@model DevChatter.DevStreams.Web.Pages.My.Channels.Schedule.IndexModel

@{
    ViewData["Title"] = $"Scheduled Streams for {Model.Channel.Name}";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledStreams[0].DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledStreams[0].LocalStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledStreams[0].LocalEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledStreams[0].TimeZoneName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ScheduledStreams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    @item.LocalStartTime
                </td>
                <td>
                    @item.LocalEndTime
                </td>
                <td>
                    @item.TimeZoneName
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
