@page
@model DevChatter.DevStreams.Web.Pages.Manage.Tags.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tag.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
