@page "{id:int}"
@using Core.Model
@model DevChatter.DevStreams.Web.Pages.Channels.DetailsModel
@{
    ViewData["Title"] = "Details";

    // TODO: Should we have some kind of placeholder image displyed if there's not a valid Channel image from twitch?
    var fullyQualifiedChannelImageSource = (!string.IsNullOrWhiteSpace(Model?.Channel?.ImageUrl)) ? Model?.Channel?.ImageUrl : "";
}

<div id="channelDetails">
    <h2>@Model.Channel.Name<span v-if="isLiveComplete"> - {{liveStatus}}</span></h2>

    <div class="row">
        <div class="col-md-5">
            <h3>Channel Details</h3>
            <img src="@fullyQualifiedChannelImageSource" title="Channel image for @Model.Channel.Name" class="img-responsive channel-image vertical-align_middle" />

            <p class="vertical-align_middle channel-description">
                @Model.Channel.Description
            </p>
        </div>




        <a href="@Model.Channel.Uri" class="btn-block">View @Model.Channel.Name on Twitch</a>
    </div>
    <div class="col-md-3">
        <h3>Next Streams</h3>
        <ul>
            <li v-for="stream in nextStreams">
                {{stream.startTime}}
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Schedule</h3>
        <ul>
            <li v-for="stream in schedule">
                {{ stream.dayOfWeek }} {{stream.startTime}} until {{stream.endTime}}
            </li>
        </ul>
    </div>
</div>

<input id="twitchId" type="hidden" value="@Model.Channel.TwitchId" />
<input id="channelId" type="hidden" value="@Model.Channel.Id" />
</div>


@section Scripts {
    <script src="~/js/vue/channels-details.js"></script>
}

