@page
@model DevChatter.DevStreams.Web.Pages.Channels.IndexModel

@{
    ViewData["Title"] = "My Channels";
}

<h2>My Channels</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Channels[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channels[0].Uri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channels[0].TimeZoneName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Channels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZoneName)
            </td>
            <td>
                <a asp-page="./Schedule/Index" asp-route-channelId="@item.Id">Schedule (@item.ScheduledStreamsCount)</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
