@page
@model DevChatter.DevStreams.Web.Pages.Channels.IndexModel
@{
    ViewData["Title"] = "Find Channels";
}

<h2>Find Channels</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Channels[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channels[0].Tags)
        </th>
        <th>Links</th>
        <th>Next Stream</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Channels) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @item.Tags
            </td>
            <td>
                <a href="@item.Uri">@item.ChannelLinkText</a>
            </td>
            <td>
                Tuesday at 2:00 PM EST
            </td>
        </tr>
    }
    </tbody>
</table>

