@page "{id:int}"
@model DevChatter.DevStreams.Web.Pages.My.Channels.DetailsModel

@{
    ViewData["Title"] = "Details";


    // TODO: Should we have some kind of placeholder image displyed if there's not a valid Channel image from twitch?
    var fullyQualifiedChannelImageSource = (!string.IsNullOrWhiteSpace(Model?.Channel?.ImageUrl)) ? Model?.Channel?.ImageUrl : "";
}

<h2>Details</h2>

<div>
    <h4>Channel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Channel.ImageUrl)
        </dt>
        <dd>
            <img style="height:100px" src="@fullyQualifiedChannelImageSource" title="Channel image for @Model.Channel.Name" class="img-responsive" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Channel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Channel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Channel.Uri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Channel.Uri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Channel.TimeZoneName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Channel.TimeZoneName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Channel.ScheduledStreamsCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Channel.ScheduledStreamsCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Channel.Tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Channel.Tags)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Channel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
